html {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

.form {
  background-color: #fff;
}

.btn {
  padding: .5rem;
  border: 1px solid #000;
}

@media only screen and (min-width: 60em) {

  body {
    background-color: #f2f2f2;
  }

}
